
/* hero image*/
.hero {
    /* Tamanos */
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    color: white;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(https://lasillarotarm.blob.core.windows.net.optimalcdn.com/images/2018/10/08/freelance.jpg);
/*    https://s.yimg.com/uu/api/res/1.2/swwahVFhuHlu_WCfJ_bctA--~B/aD0xMDAwO3c9MTUwMDtzbT0xO2FwcGlkPXl0YWNoeW9u/http://media.zenfs.com/en_US/News/BGR_News/iphone-xs-eraser-wallpaper.jpg?quality=98&strip=all*/
    
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero h1 {
    /* Estilo txt */
    font-size: 5em;
    
    /* Margenes   */
    margin-top: 0;
    margin-bottom: 0.5em;
}

/*color de fondo: #4195d3*/
.jumbotron-fluid {
    background-color: #4195d3;
    color: #fff;
    padding: 100px 25px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
  }

.bg-grey {
    background-color: #f6f6f6;
  }

.container-fluid {
    padding: 60px 50px;
  }

#logo-catalogo{
    font-size: 24px;
}

#logo-small {
    color: #4195d3;
    font-size: 50px;
  }

#logo-xsmall{
    color: #4195d3;
    font-size: 15px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

#color{
    background-color: #4195d3;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }

/*navbar*/
.navbar {
  margin-bottom: 0;
  background-color: #4195d3;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #4195d3 !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: red;
  color: #fff !important;
}



/*flip card*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

.thumbnail{
    display: inline-block;
    float: none;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: lightgray;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}
